<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Post</title>
  </head>
  <body>
    <h1>Edit Post</h1>

    <p>Post id: <strong><%= post.id %></strong></p>

    <p>Post username: <strong>@<%=post.username%></strong></p>

    <form action="/posts/<%=post.id%>?_method=PATCH" method="POST">
      <label for="content">Content:</label>
      <br />
      <textarea
        name="content"
        id="content"
        cols="30"
        rows="10"
        placeholder="Enter your post content here..."
      >
<%=post.content%></textarea
      >
      <br />
      <button type="submit">Update Post</button>
    </form>
    <br />

    <a href="http://localhost:3000/posts">Back to All Posts</a>
  </body>
</html>
